/* Used so we can easily change the theme if we don't like them later, just change them here not everywhere else */
:root {
  /*  Usage example in CSS:
        Colors:
        background-color: var(--background-color-1);
        color: var(--primary-text-color);
    */

  /* Backgrounds and Text Colors */
  --background-color-1: #e9e4d4;
  --background-color-2: #d6d1c4;
  --background-color-3: #c5bfaf;
  --footer-color: #0f0e0e;
  --footer-link-color: #b39c4d;
  --footer-link-hover-color: #6c2d2c;
  --footer-text-color: #e9e4d4;
  --header-color: #1b1a17;
  --subheader-color: #2e2b28;
  --primary-text-color: #3c3b37;
  --secondary-text-color: #6c6a63;
  --nav-background-color: #0f0e0e;
  --nav-text-color: #b39c4d;
  --nav-hover-color: #6c2d2c;
  --nav-active-color: #e9e4d4;

  /* Various Accents */
  --highlight-gold-color: #b39c4d;
  --highlight-red-color: #6c2d2c;
  --highlight-navy-color: #1a2238;
  --highlight-mossy-color: #7a7f5c;

  /* Brand Colors */
  --brand-black: #0f0e0e;
  --brand-gold: #b39c4d;
  --brand-red: #4f2c2c;

  /* Font Families */
  --font-cormorant: "Cormorant Garamond", serif;
  --font-cinzel: "Cinzel", serif;
}

/* General Styles */
body {
  background-color: var(--background-color-1) !important;
  color: var(--primary-text-color) !important;
  font-family: var(--font-cormorant) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cinzel);
}

footer {
  font-family: var(--font-cormorant);
  font-size: 1.125em;
  color: var(--footer-text-color);
  background-color: var(--footer-color);
  text-align: center;
  margin-top: 2em;
  padding: 1em 0;
}

footer a {
  color: var(--footer-link-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--footer-link-hover-color);
  text-decoration: none;
}

/* Make the footer pretty */
.footer-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0 5%;
}

.footer-section {
  margin: 0;
  overflow: hidden;
}

.footer-link {
  display: block;
  margin: 0.5em auto;
  text-decoration: none;
  width: fit-content;
}

/* Logo float animation */
.footer-logo {
  object-fit: contain;
  width: 50%;
  animation: alternate-reverse footer-logo-float 4s ease-in-out infinite;
}

.footer-socials {
  width: 1.5em;
  margin: 0 1.5em 0 1.5em;
}

.footer-page-credit {
  font-size: 0.8em;
  margin-bottom: 0;
}

/* Logo float animation keyframes */
@keyframes footer-logo-float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

/* Extra navbar stuff, because I wanted more customization than I could do easily with bootstrap */
.navbar a {
  color: var(--nav-text-color);
  font-family: var(--font-cormorant);
  font-size: 1.25em;
}

.shu-navbar {
  background-color: var(--nav-background-color);
  margin-bottom: 2em;
}

.shu-nav-logo {
  height: 4em;
  margin: 0 1em;
}

.shu-hamburger {
  margin: 0 1em;
}

@media screen and (max-width: 767px) {
  .homepage-event-container {
    display: none;
  }

  .footer-grid {
    grid-template-columns: auto;
    text-align: center;
  }

  .footer-logo {
    width: 40%;
    margin-top: 3em;
  }

  .footer-socials {
    width: 2em;
    margin: 2em 1.5em 0 1.5em;
  }

  .footer-page-credit {
    margin-top: 3em;
  }

  .navbar {
    position: relative;
  }

  .shu-nav-links {
    margin: 0 1em;
  }

  .nav-link {
    text-align: center;
  }
}

/* Styles for index.html */
.homepage-hero {
  text-align: center;
  align-content: center;
  background-image: url("images/homeHero.jpg");
  background-position: center center;
  width: 100%;
  height: 50vh;
  padding: 0 2em;
  background-size: cover;
}

.homepage-hero h1 {
  font-family: var(--font-cinzel);
  color: var(--highlight-gold-color);
  text-shadow: 
    0 0 8px var(--brand-black),
    0 0 12px var(--highlight-red-color);
  font-size: 3em;
  vertical-align: middle;
  width: 100%;
  margin: auto 0;
}

.homepage-container {
  padding: 2em;
}

.homepage-container p {
  font-family: var(--font-cormorant);
}

.homepage-inlinelogo-p {
  height: 1rem;
  display: inline;
}
.homepage-inlinelogo-h1 {
  height: 2.5rem;
  display: inline;
}
.homepage-inlinelogo-h2 {
  height: 2rem;
  display: inline;
}


.homepage-event-container {
  width: 85%;
  margin: 0 auto 2em auto;
  background-color: var(--background-color-2);
  border-radius: 2em;
  text-align: center;
  font-family: var(--font-cinzel);
  padding: 1em;
}

.homepage-event-container-mobile {
  width: 100%;
  margin: 0 auto;
  background-color: var(--background-color-2);
  border-radius: 2em;
  text-align: center;
  font-family: var(--font-cinzel);
  padding: 1em;
}

.homepage-event-container-mobile dd {
  font-family: var(--font-cormorant);
}

.homepage-event-cards {
  grid-template-columns: 48% 48%;
  grid-template-rows: 45% 45%;
  display: grid;
  gap: 10% 4%;
}

.homepage-event-card {
  width: 100%;
}

/*Latest News*/
.latestnews {
  margin: 0 auto;
  padding: 10px;
}

.House-photo {
  display: none;
}

.house-apply {
  color: #0f0e0e;
  padding-top: 0;
  margin-bottom: 16px;
  padding: 16px;
  background-color: var(--background-color-2);
  border: 1px solid #0f0e0e;
  border-radius: 15px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

.house-apply a {
  text-align: center;
  text-decoration: none;
  color: #0f0e0e;
}

.scholarship-photo {
  display: none;
}

.scholarship-info {
  margin: 0 0 16px;
  padding: 16px;
  border: 1px solid #0f0e0e;
  background-color: var(--background-color-2);
  border-radius: 15px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

.scholarship-info a {
  text-align: center;
  text-decoration: none;
  color: #0f0e0e;
}

.music-fes {
  margin: 0 0 16px;
  padding: 16px;
  border: 1px solid #0f0e0e;
  background-color: var(--background-color-2);
  border-radius: 15px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

.music-fes a {
  text-align: center;
  text-decoration: none;
  color: #0f0e0e;
}

.music-photo {
  display: none;
}

/*latest News tablet*/
@media screen and (min-width: 768px) {
  .latestnews {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
  }
  .House-photo {
    display: block;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #0f0e0e;
    padding-bottom: 0;
  }
  .scholarship-photo {
    display: block;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #0f0e0e;
    padding-bottom: 0;
  }

  .music-photo {
    display: block;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid #0f0e0e;
    padding-bottom: 0;
  }
}

/* Styles for index.html mobile list */

/* Styles for mobile class */

.mobile {
  background-color: var(--background-color-2);
  border: 1px solid;
  border-radius: 20px;
  padding: 1.5em;
  margin: 2em auto;
  text-align: center;
}

.mobile h2 {
  color: var(--brand-gold);
  font-family: var(--font-cinzel);
  font-size: 2em;
  margin-bottom: 1em;
}

/* Styles for mobile Unordered list */

.magic-list {
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
  display: grid;

  /* Make all list items evenly spaced */

  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  overflow: hidden;
}

.magic-list li {
  aspect-ratio: 1;
}

/* Styles for icon function */

.magic-icon {
  background-color: var(--brand-red);
  border-radius: 50%;
  width: calc(100% - 1em);
  aspect-ratio: 1;
  margin: auto;

  /* Let icon words in the center */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Media query for mobile */

@media screen and (max-width: 628px) {
  .magic-list {
    grid-template-columns: 50% 50%;
  }
}


/* Styles for icon words */

.magic-icon a {
  color: white;
  text-decoration: none;
  font-family: var(--font-cormorant);
  font-size: 1.4em;
}

/* Style for mobile Ordered list */

.magic-step {
  text-align: left;
  line-height: 1.5;
  font-size: 1em;
}

/* Styles for deans.html */
.dean-container {
  padding: 0 2em;
}

.dean-page-heading {
  font-family: var(--font-cinzel);
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0.25em;
}

/* Style the dean photos to look like swinging portraits, ooo magic-ey*/
.dean-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 4px solid var(--highlight-gold-color);
  box-shadow: var(--highlight-red-color) 0px 5px 10px;
  animation: dean-card-image 2s ease-in-out infinite alternate;
}

.dean-card {
  background-color: var(--background-color-2);
  border: 1px solid var(--highlight-red-color);
  border-radius: 5px;
  padding: 2em 1em;
  margin: 1em;
  text-align: center;
}

.dean-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
}

.dean-name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.75em 0;
  font-family: var(--font-cinzel);
}

.dean-description {
  font-size: 1.25em;
  color: var(--secondary-text-color);
  font-family: var(--font-cormorant);
  font-weight: bold;
}

/* Make the coloring not blue because why */
.dean-link {
  text-decoration: none;
  color: inherit;
}

.dean-link:hover .dean-card {
  background-color: var(--background-color-3);
}

.dean-link:hover .dean-name {
  animation: dean-name-hoverGrow 0.5s forwards;
}

.dean-link .dean-name {
  animation: dean-name-hoverShrink 0.5s forwards;
}

/* Animations for dean cards */
@keyframes dean-name-hoverShrink {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

@keyframes dean-name-hoverGrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
/* Swinging portrait animations */
@keyframes dean-card-image {
  from {
    transform: translateX(-5px);
    rotate: 2deg;
  }
  to {
    transform: translateX(5px);
    rotate: -2deg;
  }
}

/* Pagination styling */
.deans-dean-pagination {
  text-align: center;
}

.deans-pagination-link {
  background-color: var(--footer-color);
  padding: 0.75em 1em;
  text-decoration: none;
  color: var(--footer-link-color);
}

.deans-pagination-link:hover {
  background-color: var(--footer-link-hover-color);
  color: var(--footer-color);
}

/* Styling for Brayden portfolio */
.braydenport-header {
  font-family: var(--font-cinzel);
  color: var(--header-color);
  font-size: 3.5em;
  text-align: center;
  margin: 0 0.5em 0.25em 0.5em;
}

.braydenport-subheader {
  font-family: var(--font-cinzel);
  color: var(--subheader-color);
  font-size: 2em;
  text-align: center;
  margin: 0 0.5em 0.25em 0.5em;
}

.braydenport-container {
  padding: 2em;
  padding-bottom: 0;
}

.braydenport-section {
  margin-bottom: 2em;
  clear: both;
  padding-top: 2em;
  color: var(--primary-text-color);
  font-family: var(--font-cormorant);
}

/* Don't add any extra padding to the first section, it messed up consistency between my deans and portfolio pages */
.braydenport-section:first-of-type {
  padding-top: 0;
}

.braydenport-bio {
  font-size: 1.25em;
  text-align: justify;
}

.braydenport-courses dt {
  margin-top: 1em;
  font-size: 2em;
}

.braydenport-courses dd {
  font-size: 1.25em;
  margin-left: 3em;
  margin-bottom: 1em;
}

.braydenport-table-container {
  text-align: center;
}

.braydenport-table-container table {
  width: 100%;
  margin: auto;
}

.braydenport-table-container table th, table td {
  border: #0f0e0e 1px solid;
}

.braydenport-table-container table th {
  font-size: 1.5em;
  background-color: var(--background-color-3);
}

.braydenport-table-container table tr td {
  font-size: 1.25em;
  background-color: var(--background-color-2);
}

/* Styling for the foreground (fading one) photo on mobile */
.braydenport-photo {
  float: none;
  display: block;
  width: 50%;
  margin: 0 auto 2em auto;
  left: auto;
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--highlight-gold-color);
  animation: braydenport-magic-portrait 6s linear infinite alternate;
}
/* Had to do some yucky calculations to get background photo aligned with front photo on mobile*/
.braydenport-photo-background {
  float: none;
  display: block;
  width: calc(50% - 2em);
  left: calc(25% + 1em);
  margin: 0 auto 2em auto;
  position: absolute;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--highlight-gold-color);
  box-shadow: var(--highlight-red-color) 0px 5px 10px;
}

/* Animation for the magic disappearing Brayden */
@keyframes braydenport-magic-portrait {
  0%,
  60% {
    opacity: 1;
  }
  75%,
  100% {
    opacity: 0;
  }
}

/* To meet requirements */
#Tablet-desktop {
  display: none;
}

/* Media query for tablet */
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  #Tablet-desktop {
    display: table;
  }
  /* Additional style: Moved background photo for Brayden's portfolio to float next to text */
  .braydenport-photo-background {
    width: 300px;
    float: left;
    margin-right: 2em;
    position: relative;
    left: 0;
  }
  /* Additional style: Moved front photo for Brayden's portfolio to accomdate for background photo moving, need to keep effect */
  .braydenport-photo {
    width: 300px;
    border: 4px solid var(--highlight-gold-color);
    margin-right: 2em;
    position: absolute;
    left: 2em;
  }
  /* Additional style: Expand grid for deans list for aesthetic */
  .dean-list {
    grid-template-columns: 50% 50%;
  }
}

/* Media query for desktop */
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  #Tablet-desktop {
    display: table;
  }

  .navbar a:hover {
    color: var(--nav-hover-color);
  }

  .navbar a:active {
    color: var(--nav-active-color);
  }

  /* Additional style: Just make the homepage header text bigger, looks nicer */
  .homepage-hero h1 {
    font-size: 4.5em;
  }
}

/* Styles for sports HTML*/

/*Adjust the size to make it easier to see */
.sports-img {
  width: 100%;
  height: 300px;
  border-radius: 25px;
}

.about-sports {
  margin: 2em;
  margin-top: 0;
  padding: 5px;
  background-color: #c5bfaf;
  border-radius: 15px;
}

.Quidditch-main {
  display: none;
}

.four-sports {
  margin: 2em;
  padding: 5px;
  background-color: #c5bfaf;
  border-radius: 15px;
}

  .quidditch {
    margin: 2em;
    margin-top: 0;
    padding: 5px;
    background-color: #c5bfaf;
    border-radius: 15px;
  }

  .underwater-tag {
    margin: 2em;
  margin-top: 0;
  padding: 5px;
  background-color: #c5bfaf;
  border-radius: 15px;
  }

  .FlagBattle {
    margin: 2em;
  margin-top: 0;
  padding: 5px;
  background-color: #c5bfaf;
  border-radius: 15px;
  }

  .dodgeball {
    margin: 2em;
  margin-top: 0;
  padding: 5px;
  background-color: #c5bfaf;
  border-radius: 15px;
  }

/* Sports Media query for tablet*/
@media screen and (min-width: 600px) {

  /*Adjusted the size of the image*/

  .Quidditch-mainphoto {
    text-align: center;
  }

  .Quidditch-main {
    display: block;
    width: 100%;
    height: 500px;
  }

  .sports-img {
    width: 300px;
  }
}

/* Styles for student_life.html */

/* Styles for header */

h1 {
    font-family: var(--font-cinzel);
}

/* Styles for student_life.html's each section */

.life-section {
    background-color: var(--background-color-2);
    border: 1px solid var(--highlight-gold-color);
    padding: 20px;
    margin: 25px auto;
    width: 90%;
    border-radius: 15px;
}

.life-section h2 {
    color: var(--brand-gold);
    font-family: var(--font-cinzel);
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
}

.life-section p {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 1em;
    margin-bottom: 15px;
}

/* Styles for student clubs and activities */

.club-categories, .activities-event {
    background-color: var(--background-color-3);
    border: 1px solid var(--highlight-gold-color);
    border-radius: 15px;
    padding: 20px;
}

.club-categories h3, .activities-event .event-title {
    font-family: var(--font-cinzel);
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
}

/* Styles for student clubs list */

.club-categories {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 250px;
    min-width: 40%;
}

.club-categories h3 {
    background-color: var(--background-color-2);
    border-radius: 15px;
    padding: 5px;
}

.club-categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.club-categories ul li {
    color: var(--primary-text-color);
    text-align: center;
    margin: 5px;
    font-size: 1em;
}

/* Styles for video background */

.club-video {
  background-color: var(--background-color-3);
  border: 1px solid var(--brand-gold);
  border-radius: 15px;
}

/* Styles for video to set in the center */

.club-video video {
  display: block;
  margin: 0 auto;
}


/* Styles for Hogwarts activities */

.activities-event {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 200;
    min-width: 40%;
}

/* Styles for Hogwarts activities description */

.event-describe {
    color: var(--secondary-text-color);
    display: none;
    margin-top: 10px;
    font-size: 0.5em;
}

/* Description for Hogwarts activitie on hover */

.activities-event:hover {
    background-color: var(--background-color-2);
}

.activities-event:hover .event-describe {
    display: block;
}

/* Styles for Dining Hall section with Tablet/Desktop only */

#Tablet-desktop {
    margin-top: 20px;
    display: none;
}

#Tablet-desktop table {
    border-collapse: collapse;
    font-size: 1em;
    width: 100%;
}

/* Styles for column titles */

#Tablet-desktop th {
    background-color: var(--brand-black);
    color: var(--brand-gold);
    text-align: center;
    padding: 10px;
}

/* Styles for menu items */

#Tablet-desktop td {
    border-bottom: 1px solid var(--highlight-gold-color);
    padding: 10px;
}

#Tablet-desktop tr {
    background-color: var(--background-color-3);
}

/* Media query for LanJen student_life for mobile devices */

.life-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
    margin-bottom: 20px;
}

/* Styles for hiding Tablet-desktop section */

#Tablet-desktop {
  display: none;
}

/* Media query for LanJen student_life for tablet devices */

@media screen and (min-width: 620px), print {

    .life-grid {
        grid-template-columns: auto auto;
        gap: 18px;
    }

    /* Styles for showing Tablet-desktop section */

    #Tablet-desktop {
        display: block;
    }

}

/* LanJen portfolio page */

/* Title section */

.lanjen-title {
    text-align: center;
    margin: 20px;
}

.lanjen-title h1 {
    color: var(--header-color);
    font-family: var(--font-cinzel);
    font-size: 2.5em;
}

.lanjen-title h2 {
    color: var(--subheader-color);
    font-family: var(--font-cinzel);
    font-size: 1.5em;
}

.lanjen-tagline {
    color: var(--secondary-text-color);
    font-style: italic;
}

/* Profile section */

.lanjen-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

/* Styles for picture's shape to be circle */

.lanjen-photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid var(--highlight-gold-color);
}

/* Styles for About's paragraph */

.lanjen-about p {
    margin-bottom: 5px;
    line-height: 1.5;
}

/* Style for Philosophy, Achievements, and Courses section */

.lanjen-philosophy, .lanjen-achievements, .lanjen-courses {
    background-color: var(--background-color-2);
    border-radius: 15px;
    padding: 20px;
    margin: 2em auto;
    max-width: 900px;
    line-height: 1.5;
}

/* Style for section h2 */

.lanjen-philosophy h2, .lanjen-achievements h2, .lanjen-courses h2 {
    color: var(--brand-gold);
    font-family: var(--font-cinzel);
    text-align: center;
    margin-bottom: 10px;
}

/* Style for Unordered lists */

.lanjen-achievements ul, .lanjen-courses ul {
    padding-left: 20px;
}

.lanjen-achievements li, .lanjen-courses li {
    margin-bottom: 5px;
    list-style: none;
}

/* Style for contact section */

.lanjen-contact {
    text-align: center;
    margin: 2em auto;
    padding: 15px;
}

.lanjen-contact p {
    margin-bottom: 5px;
}

/*May portfolio*/

/*The shape was made uniform and colored*/
.mayport-title {
  font-weight: bold;
  color: yellow;
  text-align: center;
  text-shadow: 2px 2px #c5bfaf;
}

.MAY-photo {
  height: 300px;
  width: 250px;
  border-radius: 25%;
  padding: 0.5em;
}

.mayport-info {
  text-align: center;
}

.mayport-information {
  margin: 2em;
  margin-top: 0;
  padding: 5px;
  background-color: #c5bfaf;
  border-radius: 15px;
}

.mayport-course {
  margin: 2em;
  margin-top: 0;
  padding: 5px;
  background-color: #c5bfaf;
  border-radius: 15px;
}

.Thunder {
  text-align: center;
}

.mayport-table {
  margin: 2em;
}

/*May.html tablet*/
@media screen and (min-width: 768px) {

  /*Image and text side by side*/
  .mayport-info {
    display: flex;
    justify-content: center;
    background-color: #c5bfaf;
    margin: 0 32px;
    border-radius: 15px;
  }

  .mayport-information {
    padding-top: 2em;
  }
}

/* Media query for LanJen student_life for desktop devices */

@media screen and (min-width: 992px), print {
  
    /* Additional style: 3 column grid on the student life grid */
    .life-grid {
        grid-template-columns: auto auto auto;
        gap: 20px;
    }

    /* Styles for showing Tablet-desktop section */

    #Tablet-desktop {
        display: block;
    }
}